body {
	margin: 0 auto;
	width: 960px;
}

.jumbotron {
	display: none;
}

.option-area {
	display: block;
}

.navigation {
	text-align: center;
}

.row {
	margin: 20px 0;
}

#qa {
	margin-top: 50px;
	border: 1px solid black;
	padding: 15px;
}

footer {
	text-align: center;
	width:100%;
	min-width:960px;
	clear:both;
	position:relative;
	z-index:2;
	height:90px;
	clear:both;
}

.btn-success {
	background-color: #79be15;
	border-color: #79be15;
}

.btn-danger {
	background-color: #ff001a;
	border-color: #ff001a;
}

.btn-primary {
	background-color: #0000dc;
	border-color: #0000dc;
}

a:visited {
	color: #ffffff;
}

